@model ASP_111.Models.Forum.Topic.ThemeViewModel

<div class="col-sm-6">
    <div class="card m-3" >
        <div class="row g-0">
            <div class="col-md-3">
                <img src="@Model.Author.Avatar" class="img-fluid rounded-start m-auto w-100" alt="Author">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text" 
                    style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">@Model.FirstCommentText</p>
                    <p class="card-text"><small class="text-muted">Створено: @Model.CreatedDt</small></p>
                </div>
            </div>
            <div class="card-footer">
                This is a wider card with supporting text
            </div>
        </div>
    </div>
</div>

