@model ASP_111.Models.Forum.Index.ForumIndexModel
@{
    ViewData["Title"] = "Forum";
}
<div class="text-center">
    <h1 class="display-4">Форум</h1>
</div>

<div class="row">
    <div class="col col-7 offset-1">
        @foreach(var section in Model.Sections)
        {      
            @Html.DisplayFor(m => section, "SectionTemplate")
        }
    </div>
</div>

@if (Context.User.Identity?.IsAuthenticated == true)
{
    <form asp-action="AddSection" asp-controller="Forum" 
          method="post" enctype="multipart/form-data">

        <label for="section-title" class="form-label">Заголовок</label>
        <div class="input-group mb-3">
            <span class="input-group-text py-0 px-2"
                  id="section-title-addon"><i class="bi bi-chat-quote"></i></span>
            <input type="text" class="form-control"
                    id="section-title" name="section-title"
                    placeholder="Введіть назву розділу"
                    aria-describedby="section-title-addon">
        </div>

        <label for="section-description" class="form-label">Опис</label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-book"></i></span>
            <textarea class="form-control" aria-label="With textarea"
                      id="section-description" name="section-description"
                      placeholder="Введіть опис розділу"></textarea>
        </div>

        <label for="section-image" class="form-label">Аватарка</label>
        <div class="input-group mb-3">
            <span class="input-group-text py-0 px-2"
                  id="section-image-addon"><i class="bi bi-card-image"></i></span>
            <input type="file" class="form-control custom-file-input"
                   id="section-image" name="section-image"
                   aria-describedby="section-image-addon">
        </div>

        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
}
