@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Разработка веб-приложений с использованием технологии ASP.NET Core</h1>
</div>

<h3><a href="/Home/Intro">Введение в ASP</a></h3>
<h3><a href="/Home/Razor">Введение в Razor</a></h3>
<h3><a asp-controller="Home" asp-action="Services">Службы и зависимости</a></h3>
<h3><a asp-controller="Home" asp-action="Data">Контекст данных</a></h3>
<h3><a asp-controller="Home" asp-action="Sessions">Сессии</a></h3>

