@{
    ViewData["Title"] = "Введение";
}

<div class="text-center">
    <h1 class="display-4">Введение в ASP</h1>
</div>

<p>
    <b>ASP</b> - Active Server Pages - комплекс (фреймворк) .NET 
    для разработки серверных приложений
</p>
<p>
    Отличительной особенностью является согласование работы различных 
    частей приложения по совпадению имен классов, представлений
    с названиями файлов, папок и частей URL - запроса.
</p>
<p>
    !! Если проект создан с названием, содержащим спецсимволы, то 
    необходимо поправить ссылку на стили в _Layout.cshtml
</p>