@{
    ViewData["Title"] = "Sessions";
}

<div class="text-center">
    <h1 class="display-4">Сессии</h1>
</div>

<p>
    Сессии - термин, обозначающий действия, ограниченные некоторым промежутком
    времени. НТТР-сессии - механизм, позволяющий сохранять данные в течение
    некоторого времени, большего, чем время запроса.
</p>
<p>
    Зачем? НТТР-сервер каждый запрос обслуживает как новый, контроллеры пересоздаются.
    Можно сказать, что каждый запрос перезапускает приложение. При этом актуален
    вопрос - а как сохранить данные между запросами?
</p>
<p>
    При старте сессии в каждый ответ на запрос пользователя включаются специальные
    данные - Cookie. Это заголовки пакета, которые по стандарту должны будут
    включатся браузером во все повторные запросы к данному серверу.
    Если в запросе уже есть Cookie, то по его значению восстанавливаются данные,
    сохраненные при прошлом запросе.
</p>
<p>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">Настройка сессий </a>
    состоит из следующих этапов
</p>
<ul>
    <li>Включение службы хранения (кеширования) в памяти 
        <code>builder.Services.AddDistributedMemoryCache()</code></li>
    <li>Настройка Cookie
        <code>builder.Services.AddSession(....)</code>
    </li>
    <li>Включение сессий <code>app.UseSession()</code></li>
</ul>
<p>
    После настройки (и включения) сессий, в контексте становится доступным
    свойство Session. Обращение к контексту происходит по-разному в разных
    местах (контроллер, представление, служба и т.п.), но во всех местах
    сессия доступна.
    Сессия позволяет сохранять данные по принципу ключ-значение, получать
    или удалять их.
</p>
<hr/>
<p>
    Данные в сессии: @ViewData["StoredValue"]<br/>
    <a asp-action="SetSession">Установить данные</a><br />
    <a asp-action="RemoveSession">Удалить данные</a>
</p>
<p>
    Основные направления по использованию сессий:<br />
    а) сброс параметров форм - когда форма передает данные, они "прикрепляются"
       к запросу: видны в URL строке или в теле пакета. Обычно после обработки
       данных производят перенаправление на адрес без параметров. Такие
       сессии ограничивают небольшим временем - единицы секунд
       <br />
    б) хранение данных, введенных пользователем. В частности данных входа в систему.
       Это позволяет "запоминать" пользователя и его данные. Такие сессии
       имеют большее время существования, ограничения - только политика сайта.
</p>